
{% extends 'base.html'%}
{% block konten %}



</style>
        <section class="banner">
            <h2>Welcome To BuyKuy</h2>
        </section>

        <section class="itu">
            <div class="container" >
                <h3> Apa itu BuyKuy</h3>
                <p style="color: #fff;"> 
                    
                
                    BuyKuy adalah platform jual beli online yang menyediakan lapak
                    untuk semua orang yang ingin menjual berbagai macam produk dan pastinya
                    bisa memuaskan anda sebagai pelanggan karena bukan hanya pengalaman jual beli 
                    yang anda dapatkan.
                </p>
            </div>
        </section>

        <footer>
            &copy; Credit by BuyKuy 
            <p>Copyright 2022 Anacompany</p>
            Get In Touch +1 844-721-7120
          </footer>
{% endblock %}